.searchbar::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
}
.searchbar{
    padding-bottom: 5px;
}
.searchbar-button{
    background-color: rgb(200, 200, 200);
}
.searchbar-button:hover{
    background-color: rgb(180, 180, 180);
    transition: background-color 300ms;

}